<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Class Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <div class="sidebar">
        <h1>CLASS ROOM</h1>
        <ul>
            <li><a href="{{ url_for('user.user_profile') }}">Profile</a></li>
            <li><a href="{{ url_for('user.get_user_profile') }}">Users</a></li>
            <li><a href="{{ url_for('message.messages') }}">Messages</a></li>
            <li><a href="{{ url_for('assignment.add_assignment') }}">Assignments</a></li>
            <li><a href="{{ url_for('challenge.challenge') }}">Challenges</a></li>
        </ul>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

